<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DRAMA라마</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
	</style>
</head>
<body style="font-family: 'Noto Sans KR', sans-serif">
	<form action="To.you--From.Rama💜" method="post">
		<div style="text-align: center;">
			<h3 style="color: #C1BCFA">나이</h3>
			<input type="number" name="age" min="1" max="200">
			<br><br>
			<h3 style="color: #C1BCFA">성별</h3>
			<input type="radio" name="g ender" value="여자">여자
			<input type="radio" name="gender" value="남자">남자
			<br><br>
			<h3 style="color: #C1BCFA">성격</h3>
			<h5>응답이 어렵다면 계속해서 읽어주십시오. 퇴근시간 지하철역에서 날 지나쳐 뛰어간 사람이 카드를 떨어트렸다.<br>
			쫓아가 그 사람에게 건네줄 것인가(외향), 분실물 센터에 맡길 것인가(내향)?
			</h5>
			<input type="radio" name="personality" value="외향형">외향형
			<input type="radio" name="personality" value="내향형">내향형
			<br><br>
			<h3 style="color: #C1BCFA">활동적인 편</h3>
			<h5>응답이 어렵다면 계속해서 읽어주십시오. 체육시간이 교실에서의 자율학습시간보다 좋다.</h5>
			<input type="radio" name="activity" value="예">예
			<input type="radio" name="activity" value="아니오">아니오
			<br><br>

			<h3 style="color: #C1BCFA">직업</h3>
			<h5>자신에게 가장 가깝다고 생각되는 항목을 선택하여 주십시오.</h5>
			<input type="radio" name="job" value="학생">학생<br>
			<input type="radio" name="job" value="사무직">사무직<br>
			<input type="radio" name="job" value="전문직">전문직<br>
			<input type="radio" name="job" value="교사">교사<br>
			<input type="radio" name="job" value="프리랜서">프리랜서<br>
			<input type="radio" name="job" value="전업주부">전업주부<br>
			<input type="radio" name="job" value="백수">백수<br>
			<input type="radio" name="job" value="군인">군인<br>
			<input type="radio" name="job" value="공무직">공무직<br>
			<input type="radio" name="job" value="개인사업자">개인사업자<br>
			<input type="radio" name="job" value="경영인">경영인<br>
			<input type="radio" name="job" value="자원봉사자">자원봉사자<br>
			<input type="radio" name="job" value="아르바이트 직원">아르바이트 직원
			<br><br>

			<h3 style="color: #C1BCFA">관심사</h3>
			<input type="checkbox" name="interested" value="요리">요리<br>
			<input type="checkbox" name="interested" value="스포츠">스포츠<br>
			<input type="checkbox" name="interested" value="게임">게임<br>
			<input type="checkbox" name="interested" value="인간관계">인간관계<br>
			<input type="checkbox" name="interested" value="학업과 자기계발">학업과 자기계발<br>
			<input type="checkbox" name="interested" value="본업">본업<br>
			<input type="checkbox" name="interested" value="연애와 사랑">연애와 사랑<br>
			<input type="checkbox" name="interested" value="종교와 운">종교와 운<br>
			<input type="checkbox" name="interested" value="가족">가족<br>
			<input type="checkbox" name="interested" value="음악과 노래">음악과 노래<br>
			<input type="checkbox" name="interested" value="악기연주">악기연주<br>
			<input type="checkbox" name="interested" value="영상콘텐츠(영화나 드라마, 유튜브 등)">영상콘텐츠(영화나 드라마, 유튜브 등)<br>
			<input type="checkbox" name="interested" value="정치">정치<br>
			<input type="checkbox" name="interested" value="공예">공예<br>
			<input type="checkbox" name="interested" value="SNS">SNS<br>
			<input type="checkbox" name="interested" value="건강과 위생">건강과 위생<br>
			<input type="checkbox" name="interested" value="역사">역사<br>
			<input type="checkbox" name="interested" value="연애">연애<br>
			<input type="checkbox" name="interested" value="패션">패션<br>
			<input type="checkbox" name="interested" value="부동산">부동산<br>
			<input type="checkbox" name="interested" value="주식">주식<br>
			<input type="checkbox" name="interested" value="오락(만화나 애니메이션)">오락(만화나 애니메이션)
			<br><br>

			<h3 style="color: #C1BCFA">재학 여부</h3>
			<input type="radio" name="school" value="예">예<br>
			<input type="radio" name="school" value="아니오">아니오
			<br><br>

			<h3 style="color: #C1BCFA">재직 여부</h3>
			<input type="radio" name="work" value="예">예<br>
			<input type="radio" name="work" value="아니오">아니오
			<br><br>

			<h3 style="color: #C1BCFA">거주지</h3>
			<input type="radio" name="abode" value="국내 수도권">국내 수도권<br>
			<input type="radio" name="abode" value="국내 지방">국내 지방<br>
			<input type="radio" name="abode" value="해외">해외
			<br><br>

			<h3 style="color: #C1BCFA">형제자매 수</h3>
			<input type="number" name="siblings">
			<br><br>

			<h3 style="color: #C1BCFA">가족 수</h3>
			<input type="number" name="family">
			<br><br>

			<h3 style="color: #C1BCFA">자취여부</h3>
			<input type="radio" name="livealone" value="예">예<br>
			<input type="radio" name="livealone" value="아니오">아니오
			<br><br>

			<h3 style="color: #C1BCFA">전공계열</h3>
			<h5>또는 전공으로 삼고자 하거나 더욱 친숙하고 관심있는 분야</h5>
			<input type="radio" name="major" value="이과">이과<br>
			<input type="radio" name="major" value="문과">문과
			<br><br>

			<h3 style="color: #C1BCFA">경제상황</h3>
			<h5>주관적인 생각으로 응답해주세요.</h5>
			<input type="radio" name="homeecomony" value="부족함">부족함<br>
			<input type="radio" name="homeecomony" value="넉넉함">넉넉함<br>
			<input type="radio" name="homeecomony" value="부유함">부유함
			<br><br>

			<h3 style="color: #C1BCFA">연애경험 유무</h3>
			<input type="radio" name="havedate" value="예">예<br>
			<input type="radio" name="havedate" value="아니오">아니오
			<br><br>

			<h3 style="color: #C1BCFA">신체적인 문제로 힘들었던 경험 유무</h3>
			<h5>주관적인 판단으로 응답해 주세요.</h5>
			<input type="radio" name="physicaltrouble" value="예">예<br>
			<input type="radio" name="physicaltrouble" value="아니오">아니오
			<br><br>

			<h3 style="color: #C1BCFA">정신적인 문제로 힘들었던 경험 유무</h3>
			<h5>주관적인 판단으로 응답해 주세요.</h5>
			<input type="radio" name="mentaltrouble" value="예">예<br>
			<input type="radio" name="mentaltrouble" value="아니오">아니오
			<br><br>

			<h1>드라마 시청에 대한 질문</h1>
			<h3>!유의사항!<br>모든 항목에서 '현재'를 중심으로 응답해주십시오.</h3>
			<br><br>

			<h3 style="color: #C1BCFA">선호장르</h3>
			<input type="checkbox" name="prefergenre" value="액션">액션<br>
			<input type="checkbox" name="prefergenre" value="일상">일상<br>
			<input type="checkbox" name="prefergenre" value="로맨스">로맨스<br>
			<input type="checkbox" name="prefergenre" value="추리">추리<br>
			<input type="checkbox" name="prefergenre" value="스릴러">스릴러<br>
			<input type="checkbox" name="prefergenre" value="교육">교육<br>
			<input type="checkbox" name="prefergenre" value="힐링">힐링
			<br><br>

			<h3 style="color: #C1BCFA">선호채널</h3>
			<h5>지상파 채널 : KBS1, KBS2, MBC, SBS, EBS / 케이블 : 그 외 모든 채널</h5>
			<input type="radio" name="preferchannel" value="지상파">지상파<br>
			<input type="radio" name="preferchannel" value="케이블">케이블
			<br><br>

			<h3 style="color: #C1BCFA">주 시청 시간(휴일중)</h3>
			<h5>낮과 밤 구분으로, 24시간이 자유로운 휴일에는 어느 시간 대 사이에 주로 시청하는지 응답. 또는 어느 시간대에 시청하고 싶은지 응답.</h5>
			<input type="radio" name="watchingtime" value="6-18시">6-18시<br>
			<input type="radio" name="watchingtime" value="18-6시">18-6시
			<br><br>

			<h3 style="color: #C1BCFA">드라마 주 시청 수단</h3>
			<input type="radio" name="used" value="TV또는 빔 프로젝터">TV또는 빔 프로젝터<br>
			<input type="radio" name="used" value="컴퓨터(데스크탑)">컴퓨터(데스크탑)<br>
			<input type="radio" name="used" value="휴대용 기기(노트북, 휴대폰 등)">휴대용 기기(노트북, 휴대폰 등)
			<br><br>

			<h3 style="color: #C1BCFA">드라마 주 시청 방법</h3>
			<input type="radio" name="way" value="본방송">본방송<br>
			<input type="radio" name="way" value="재방송">재방송<br>
			<input type="radio" name="way" value="다시보기 다운로드(유료 또는 무료)">다시보기 다운로드(유료 또는 무료)<br>
			<input type="radio" name="way" value="다시보기, 연재작(온라인 콘텐츠 플랫폼. ex.넷플릭스, 왓챠)">다시보기, 연재작(온라인 콘텐츠 플랫폼. ex.넷플릭스, 왓챠)
			<br><br><br><br>

			<input type="submit" value="나에게 맞는 드라마는?">
		</div>
	</form>
</body>
</html>